<ion-content class="ion-padding" [class.ion-content-bg]="true">
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Valid email is required
        </ion-note>

        <!-- Password -->
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required
        </ion-note>

        <!-- Submit Button -->
        <ion-button 
          type="submit" 
          expand="block" 
          [disabled]="loginForm.invalid || isSubmitting"
          class="submit-button"
        >
          <ion-spinner *ngIf="isSubmitting" name="crescent"></ion-spinner>
          <span *ngIf="!isSubmitting">Login</span>
        </ion-button>

        <div class="register-link">
          <p>Haven't created an account? <a routerLink="/register">Register NOW!</a></p>
        </div>
      </form>

      <!-- Error Alert -->
      <ion-alert
        [isOpen]="showErrorAlert"
        header="Login Error"
        [message]="errorMessage"
        [buttons]="['OK']"
        (didDismiss)="dismissAlert()"
      ></ion-alert>
    </div>
  </div>
</ion-content>