@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
ion-header {
    ion-toolbar {
      &:first-child {
        background-color: brown;
        color: white;
      }
  
      &:last-child {
        background-color: grey;
      }
  
      ion-button {
        color: white;
      }
    }
  }
  