<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Search JoB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-button routerLink="/home">Home Page</ion-button>
    <ion-button routerLink="/login">Login/Register</ion-button>
    <ion-button routerLink="/jobseek">Work Searching Page</ion-button>
    <ion-button routerLink="/createcv">Create CV Form</ion-button>
    <ion-button routerLink="/profile">Profile Editing Page</ion-button>
  </ion-buttons>
</ion-toolbar>
