<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Search Job</ion-title>
    @if (isLoggedIn) {
      <ion-buttons slot="end">
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <!-- General Links (always visible) -->
    @if (!isLoggedIn) {
      <ion-button routerLink="/homepage">Home Page</ion-button>
      <ion-button routerLink="/login">Login/Register</ion-button>
    }

    <!-- Employee Links -->
    @if (userRole === 'employee') {
      <ion-button routerLink="/emp-home">Home</ion-button>
      <ion-button routerLink="/emp-jobseek">Job Search</ion-button>
      <ion-button routerLink="/emp-createcv">Create CV</ion-button>
      <ion-button routerLink="/emp-profile">Profile</ion-button>
    }

    <!-- Company Links -->
    @if (userRole === 'company') {
      <ion-button routerLink="/comp-home">Home</ion-button>
      <ion-button routerLink="/comp-empseek">Find Employees</ion-button>
      <ion-button routerLink="/comp-platform">Platform</ion-button>
      <ion-button routerLink="/comp-profile">Profile</ion-button>
    }
  </ion-buttons>
</ion-toolbar>
